<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325970623729-50a6m6420o3e62dais81uvsf2lk0gtdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325970623729-50a6m6420o3e62dais81uvsf2lk0gtdk</string>
	<key>API_KEY</key>
	<string>AIzaSyCGJu6kZrk2yBn9k5CTcgAb7zmiTQULY3s</string>
	<key>GCM_SENDER_ID</key>
	<string>325970623729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mahadtaFirbase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-9b59a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-9b59a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325970623729:ios:176066f2abba85930f3d50</string>
</dict>
</plist>